@import '~bootstrap/scss/bootstrap';

#unauth-home {
  text-align: center;
  margin: 15px;
}

h4 {
  margin-top: 10px;
}

#kanban-board {
  border: 1px solid black;
  width: 95%;
  margin: 5%;
}

#kanban-column {
  background-color: #d4d4d4;
  border: 1px solid black;
  margin: 15px;
  height: 70vh;
  text-align: center;
}

ul {
  padding: 0;
  // box-shadow: 5px 10px 8px #888888;
}
